---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'About Me';
const pageName = 'about';

const identity = {
    firstName: "Daniel",
    country: "null",
    occupation: "Game Designer",
    hobbies: ["game design", "intellectual games", "trivia"]
};

const stack = ["HTML/CSS/JS", "Astro", "Netlify", "Obsidian for .md generation (soon)"];

const birthday = new Date('2023-12-06');
---

<BaseLayout pageTitle={pageTitle} pageName={pageName}>
    <h2>...and about the things I do.</h2>
    <p>I'm Daniel. I'm 20 years old. I wanna do more creative stuff with my software engineering knowledge and this *broad gesture on all of the World Wide Web* might just be my thing. I am also studying to be a game designer and also do graphic designer jobs for a bit of a living.</p>

    {birthday.getDay() === new Date().getDay() && birthday.getMonth() === new Date().getMonth() && <p>Hey, today is my birthday!</p>}

    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is {identity.firstName}. Yep, nothing changed.</li>
        <li>Currently, I live in {identity.country} and I study to be a {identity.occupation}.</li>
        <li>I like trivia, puzzles, detectives, whodunnits, howcatchems, and intellectual games. Bring it on!</li>
        <li>I like Uni the cat. He's an alright fellow.</li>
        <li>Pizza is also good.</li>
    </ul>
    <p>This website is built on this stack:</p>
    <ul>
        {stack.map((piece) => <li class="stack-item">{piece}</li>)}
    </ul>
    <p>The source code is available <a href='https://github.com/TATAPNHOB/astro-blog'>here</a>.</p>
</BaseLayout>
