---
import BlogItem from '../components/BlogItem.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'TTPHB>>EVO';
const pageName = 'home';

const allPosts = await Astro.glob('../pages/posts/*.md');
let latestPost = allPosts[0];
allPosts.filter(function(a, b, c) { if (a.frontmatter.pubDate > latestPost.frontmatter.pubDate) latestPost = a; });
---

<BaseLayout pageTitle={pageTitle} pageName={pageName}>
    <h2>An evolutional journey to the web.</h2>
    <div class="divider centered-divider"></div>
    <h2>Read the latest blog post!</h2>
    <ul class="index-blog-snippet"><BlogItem url={latestPost.url} title={latestPost.frontmatter.title} date={latestPost.frontmatter.pubDate}/></ul>
</BaseLayout>