---
import BlogBlock from '../components/BlogBlock.astro';
import BlogItem from '../components/BlogItem.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'TTPHB>>EVO';
const pageName = 'home';

const allPosts = await Astro.glob('../pages/posts/*.md');
let latestPost = allPosts[0];
allPosts.filter(function(a, b, c) { if (a.frontmatter.pubDate > latestPost.frontmatter.pubDate) latestPost = a; });
---

<BaseLayout pageTitle={pageTitle} pageName={pageName}>
    <h2>Journey to the Web.</h2>
    <!-- <img src="/spray.png" class="home-image"/> -->
    <BlogBlock postUrl={latestPost.url} postTitle={latestPost.frontmatter.title} postDate={latestPost.frontmatter.pubDate} />    
</BaseLayout>