---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title} pageName="blogpost">
    <section class="title-section">
        <div class="markdown-desc">
            <ul class="tags">
                {frontmatter.tags.map((tag) => (
                    <li><a href={`/tags/${tag}`}>{tag}</a></li>
                ))}
            </ul>
            <p>Written by: <span class="author">{!frontmatter.author.url ? frontmatter.author.name : <a href={`/${frontmatter.author.url}`}>{frontmatter.author.name}</a>}</span></p>
            <p>Published on: <time datetime={frontmatter.pubDate}>{frontmatter.pubDate.slice(0,10)}</time></p>
            <p><em>{frontmatter.description}</em></p>
        </div> 
        <img class='blog-image' src={frontmatter.image.url} alt={frontmatter.image.alt}>    
    </section>
    <div class="divider"></div>
    <article>
        <slot />
    </article>
</BaseLayout>